@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.brand-img{
    cursor: pointer;
}
.contact-nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #444444;
    color: #fff;
    font-size: 12px
}
.contact-navs{
    display: flex;
    align-items: center;
}
.contact-info-nav{
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 5rem;
}
.contact-info-nav li {
    margin: 0.3rem;
    
}
.contact-reg-nav{
    display: flex;
    list-style: none;
    align-items: center;
}
.contact-reg-nav li{
    margin: 0.3rem;
}

.icon{
    background-color: #22272e;
    padding: 0.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-reg{
    background-color: #22272e;
    white-space: nowrap;
    border-radius: 3.125rem;
	line-height: 2.938rem;
	text-align: center;
	width: 8.75rem;
	height: 2.938rem;
    cursor: pointer;
}
.vertical-line{
    height: 1.5rem;
    background: #fff;
    width: 0.1rem;
    margin-left: -1rem;
}
.dropdown-menu{
    display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 999px) {
    .dropdown-menu{
        display: flex;
    }
    .icon-reg{
        display: none;
    }
    .para-nav{
        display: none;
    }
    .user-dropdown{
        color: #fff;
        
    }
}
@media only screen and (max-width: 900px) {
    .dropdown-menu{
        display: flex;
    }
    .icon-reg{
        display: none;
    }
    .icon{
        display: none;
    }
    .vertical-line {
        display: none;
    }
    .para-nav{
        display: none;
    }
    .user-dropdown{
        color: #fff;
       
        
    }
   
}
@media only screen and (max-width: 600px){
   
    
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) and (max-width: 1340px){
  
    .icon-reg{
        background-color: #22272e;
        white-space: nowrap;
        border-radius: 3.125rem;
        line-height: 2.938rem;
        text-align: center;
        width: 5.75rem;
        height: 1.938rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    .contact-reg-nav{
        padding-right: 1rem;
    }

}
/* @media only screen and (max-width: 1340px) {

} */

@media only screen and (min-width: 300px) and (max-width: 540px){
    .brand-img{
        width: 80%;
        margin-left: 1rem;
    }
}